In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
from pathlib import Path
from tqdm import tqdm

In [5]:
extractions_path_1 = Path('../../../../mnt/DATA/datasets/soccernet/spain_laliga/2016-2017/2017-04-08 - 21-45 Malaga 2 - 0 Barcelona/face_extraction_results.npy')
extractions = np.load(extractions_path_1, allow_pickle=True)

In [6]:
face_extractions_df = pd.DataFrame(columns=['half','frame_id','face_id','area','score','vector'])

for face_extraction in tqdm(extractions, desc='Overall Extraction Progress'):
    row = pd.DataFrame({'half':face_extraction[0][0], 'frame_id':face_extraction[0][1],
                        'face_id':face_extraction[0][2], 'area':face_extraction[0][3], 
                        'score':face_extraction[0][4], 'vector':[face_extraction[1]]})
    face_extractions_df = pd.concat([face_extractions_df,row])
    
face_extractions_df = face_extractions_df.reset_index(drop=True)

Overall Extraction Progress: 100%|██████████| 65462/65462 [02:35<00:00, 421.40it/s]

In [7]:
# face_extractions_df.loc[face_extractions_df['frame_id']=='04889'].head()

In [8]:
# face_extractions_df = face_extractions_df.reset_index(drop=True)
# face_extractions_df[-78:].head(20)

In [11]:
face_extractions_df.loc[face_extractions_df['frame_id']=='00051']

,half,frame_id,face_id,area,score,vector
0,0,00051,0,154,0.954762,"[0.0, 0.2160715, 0.0, 0.0, 0.0, 0.0, 0.1697129..."
1,0,00051,1,165,0.915355,"[0.0, 0.089122266, 0.0, 0.0, 0.0, 0.018889489,..."