In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
from pathlib import Path
from tqdm import tqdm

In [5]:
extractions_path_1 = Path('../../../../mnt/DATA/datasets/soccernet/spain_laliga/2016-2017/2017-04-08 - 21-45 Malaga 2 - 0 Barcelona/face_extraction_results.npy')
extractions = np.load(extractions_path_1, allow_pickle=True)

In [6]:
face_extractions_df = pd.DataFrame(columns=['half','frame_id','face_id','area','score','vector'])

for face_extraction in tqdm(extractions, desc='Overall Extraction Progress'):
    row = pd.DataFrame({'half':face_extraction[0][0], 'frame_id':face_extraction[0][1],
                        'face_id':face_extraction[0][2], 'area':face_extraction[0][3], 
                        'score':face_extraction[0][4], 'vector':[face_extraction[1]]})
    face_extractions_df = pd.concat([face_extractions_df,row])
    
face_extractions_df = face_extractions_df.reset_index(drop=True)

Overall Extraction Progress: 100%|██████████| 65462/65462 [02:35<00:00, 421.40it/s]

In [7]:
# face_extractions_df.loc[face_extractions_df['frame_id']=='04889'].head()

In [12]:
face_extractions_df

,half,frame_id,face_id,area,score,vector
0,0,00051,0,154,0.954762,"[0.0, 0.2160715, 0.0, 0.0, 0.0, 0.0, 0.1697129..."
1,0,00051,1,165,0.915355,"[0.0, 0.089122266, 0.0, 0.0, 0.0, 0.018889489,..."
2,0,00053,0,195,0.98526,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.13765123, 0.0..."
3,0,00059,0,224,0.939265,"[0.0, 0.71609235, 0.0, 0.0, 0.0, 0.0, 0.035044..."
4,0,00058,0,234,0.984303,"[0.0, 0.10226695, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0..."
...,...,...,...,...,...,...
65457,1,21656,8,16688,0.99881,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
65458,1,21656,9,11495,0.99847,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.031..."
65459,1,21656,10,12700,0.998245,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.033877335, 0...."
65460,1,21656,11,7722,0.99728,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.10067014..."
65461,1,21656,12,16166,0.990516,"[0.0, 0.14128387, 0.0, 0.0, 0.0, 0.072659016, ..."

In [8]:
# face_extractions_df = face_extractions_df.reset_index(drop=True)
# face_extractions_df[-78:].head(20)

In [11]:
face_extractions_df.loc[face_extractions_df['frame_id']=='00051']

,half,frame_id,face_id,area,score,vector
0,0,00051,0,154,0.954762,"[0.0, 0.2160715, 0.0, 0.0, 0.0, 0.0, 0.1697129..."
1,0,00051,1,165,0.915355,"[0.0, 0.089122266, 0.0, 0.0, 0.0, 0.018889489,..."